
body {
    background-color: black;
    font-family: Tahoma, sans-serif;
    /*font-family: 'Courier New', Courier, monospace;*/
}
 /* ---------------HEADER---------------- */
.header {
    background-color: black;
    color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 1px;
    padding-right: 3px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .logo {
    float: left;
    line-height: 25px;
    padding: 8px 2px 2px 5px;
  }

.header h1 {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 58px;
    border-radius: 4px;
    
  }
  
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: black;
    color: pink;
  }

    /* Float the link section to the right */
  .header-right {
    float: right;
  }

 /* ---------------SCROLL BAR---------------- */
 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(159, 1, 138);
  } 

  .content {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
 } 

 /* ---------------FLEX CONTAINER---------------- */
 .flex-container {

  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  color: white;
  display: flex;
  padding-top: 70px;
  padding-bottom: 120px;
  justify-content: center;
}

.flex-container .one {

  background-color: black;
  width: 350px;
  margin: 10px;  
  line-height: auto;
  font-size: 30px;
  vertical-align:top;
  float: right;
  text-align: right;
}

.flex-container .two {

  background-color: black;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: auto;
  align-items: center; }

.flex-container .three {

  background-color: black;
  width: 350px;
  margin: 10px;
  line-height: auto;
  font-size: 30px; }


 /* --------------- ABOUT ---------------- */


.About {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 90px;
  margin-right: 90px;
  color: white;
  padding-top: 60px; 
  padding-bottom: 60px;}

.About .Heading{
  font-family: 'Courier New', Courier, monospace; }

.About .SubHeading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: white; }

.About .information{
  margin-right: 350px;
  font-size: 17px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.About .Heading img{
  float: right;
  width: 250px;
  height: 250px;
  display: flex;
  z-index: 2;
  position: relative;
  margin-right: 50px;
  margin-top: 20px;

}
.CheckTime {
padding-left: 50px;
padding-right: 50px;
margin-left: 90px;
margin-right: 90px;
color: white;
padding-top: 60px; 
padding-bottom: 210px;}

.CheckTime button{
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .CheckTime, .demo {
    text-align: center;

  }

  .ImageGal {

    padding-left: 50px;
    padding-right: 50px;
    margin-left: 90px;
    margin-right: 90px;
    color: white;
    padding-top: 60px; 
    padding-bottom: 60px;}
  
  .ImageGal button {
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-bottom: 60px;
  }


  .ImageGal img {
    width: 900px;
    height: 500px;
    
  }

 /* ---------------EDUCATION---------------- */
.Education {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 90px;
  margin-right: 90px;
  color: white;
  padding-top: 120px;
}
.Education .Heading2{
  font-family: 'Courier New', Courier, monospace;
}

.Technologies{

  padding-left: 50px;
  padding-right: 50px;
  margin-left: 90px;
  margin-right: 90px;
  color: white;
  padding-top: 120px;
}

.Technologies .Heading3{
  font-family: 'Courier New', Courier, monospace;
}


.Certificates {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 90px;
  margin-right: 90px;
  color: white;
  padding-top: 120px;
}

.Certificates .Heading4{
  font-family: 'Courier New', Courier, monospace;
}

table {
  border: 3px solid white;
  color: white;
  border-collapse: collapse;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: plum;}

.Youtube {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 90px;
  margin-right: 90px;
  color: white;
  padding-top: 120px;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
